@font-face {
    font-family:'digital-clock-font';
    src: url(fonts/digital-7.ttf);
}

html,
body {
    position: relative;
    font-family: 'digital-clock-font', Arial, sans-serif;
    font-size: 28px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: url(image/F76_PIPBoy_2000.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-attachment: fixed;
    height: 100vh;
    margin-right: 177px;
    margin-bottom: 260px;
    color: white;
}

.container {
    position: fixed;
    box-sizing: border-box;
    width: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.display {
    display: flex;
    justify-content: flex-end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.firstRow {
    display: flex;
    flex: 1;
    margin: 10px 0 10px 0;
}

.secondRow,
.thirdRow,
.fourthRow  {
    display: flex;
    flex: 1;
    margin: 0 0 10px 0;
}

.fifthRow {
    display: flex;
    flex: 1;
}

.zero,
.floatingPoint,
.minus,
.clear,
.delete,
.modulo,
.number {
    margin-right: 10px;
}

.displayPara {
    margin: 20px 12px;
}

button {
    box-sizing: border-box;
    width: 52px;
    height: 42px;
    font-family: 'digital-clock-font', Arial, sans-serif;
    font-size: 30px;
    color: rgba(24, 248, 27, 255);
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
    padding-bottom: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.number,
.zero {
    display: flex;
    justify-content: flex-start;
    padding: 4px;
    font-size: 22px;
}

.delete {
    font-size: 26px;
}

button:hover {
    background-color: rgba(24, 248, 27, 255);
    color: black;
    font-size: calc(100% - 5px);
}

.number,
.zero {
    font-size: calc(100%);
}

button:active {
    transform: translateY(4px);
}

.clear:hover,
.delete:hover {
    background-color: red;
    color: black;
}